@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.f22-content {
	font-family: "Poppins", arial, sans-serif, Graphik;
	font-weight: 100;
	line-height: 1.5;
	font-size: 16px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
		letter-spacing: 0.05em;
	}
	// div {
	// 	box-sizing: border-box;
	// 	position: relative;
	// 	display: block;
	// }
	a {
		text-decoration: none;
	}
	li {
		list-style: none;
	}

	//Header Menu A
	.navMenuItem.active {
		color: #78d39d !important;
	}
	.navMenuItem {
		a:hover ~ ul.submenu {
			display: block !important;
		}
		& ul.submenu:hover {
			display: block !important;
		}
		a.hasSubmenu {
			&:after {
				content: url("src/assets/images/dropdown-icon.svg");
				margin-left: 5px;
			}
			&:hover:after {
				content: url("src/assets/images/dropdown-hover-icon.svg");
			}
		}
	}

	.sideNav.overflow-y-scroll::-webkit-scrollbar {
		width: 0;
	}
	.slick-prev,
	.slick-next {
		width: 48px;
		height: 48px;
		top: 75%;
		z-index: 1;
	}
	.slick-prev:before {
		content: url("src/assets/images/prev-white-icon.svg") !important;
	}
	.slick-next:before {
		content: url("src/assets/images/next-white-icon.svg") !important;
	}
	//Promotions自定義頁碼

	.ExclusivePromotions {
		.navSlider {
			.slick-slider {
				display: flex;
				align-items: center;
				.slick-arrow {
					display: block;
					position: relative;
					top: auto;
					left: auto;
					right: auto;
					transform: translate(0, 0);
				}
				.slick-list {
					.slick-current {
						span {
							span {
								background: #4ba1fa;
								border-color: #4ba1fa;
								color: #fff !important;
							}
						}
					}
				}
			}
		}
	}

	// terms-of-service css
	.terms-content__container {
		p {
			margin: 0;
		}
		p:first-child {
			margin: 20px 0px;
		}
	}

	//customer css
	.tableContent {
		.contentList {
			&:nth-child(even) {
				background: #f3f3f4;
			}
		}
	}

	//wallet css
	.balanceListContainer:not(:last-child) {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #dadce0;
	}

	$MyBalanceIcon: url("@/assets/images/credit-icon.svg");
	$MyBalanceHoverIcon: url("@/assets/images/credit-icon-hover.svg");
	$DepositIcon: url("@/assets/images/deposit-icon.svg");
	$DepositHoverIcon: url("@/assets/images/deposit-icon-hover.svg");
	$WithdrawIcon: url("@/assets/images/withdraw-icon.svg");
	$WithdrawHoverIcon: url("@/assets/images/withdraw-icon-hover.svg");

	.transactionButtonContainer {
		.transactionButton {
			background-color: #f3f3f4;
			cursor: pointer;
			span {
				color: #2b3240;
			}
			&.MyBalance {
				.transactionIcon {
					background-image: $MyBalanceIcon;
				}
			}
			&.Deposit {
				.transactionIcon {
					background-image: $DepositIcon;
				}
			}
			&.Withdraw {
				.transactionIcon {
					background-image: $WithdrawIcon;
				}
			}

			&:hover,
			&.active {
				background-color: #f9a318;
				span {
					color: #ffffff;
				}

				&.MyBalance {
					.transactionIcon {
						background-image: $MyBalanceHoverIcon;
					}
				}
				&.Deposit {
					.transactionIcon {
						background-image: $DepositHoverIcon;
					}
				}
				&.Withdraw {
					.transactionIcon {
						background-image: $WithdrawHoverIcon;
					}
				}
			}
			.transactionIcon {
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}

	.ant-input {
		text-align: right;
	}

	//languageSwitch
	.languageSwitchContain {
		&:hover {
			.languageSwitch {
				display: flex !important;
			}
		}
	}

	//gameImg
	.LazyLoadImage {
		img {
			object-fit: cover;
			vertical-align: top;
		}
	}
	.ProviderImg {
		img {
			object-fit: contain;
			object-position: center;
		}
	}
	//Banner
	.banner {
		.LazyLoadImage {
			aspect-ratio: 4 / 3;
		}
		@media (min-width: 810px) {
			.LazyLoadImage {
				aspect-ratio: 21 / 9;
			}
		}
	}
}
