@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	box-sizing: border-box;
}

.h-6 {
	height: 1.5rem;
}

.w-6 {
	width: 1.5rem;
}

body {
	font-family: "Poppins", "Noto Sans TC", sans-serif;

	.preview-block {
		padding: 20px;
		position: relative;
		overflow: hidden;
		color: #2e3438;
		border: 1px solid hsla(203, 50%, 30%, 0.15);
		background: #ffffff;
		font-size: 13px;
		line-height: 19px;
		margin: 25px 0 40px;
		border-radius: 4px;
		box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.at-tag {
		border: 1px solid;
		border-radius: 4px;
		padding: 2px 4px;
		font-size: 12px;
		margin-right: 4px;
		color: #2e3438;
		border-color: #e0e0e0;

		&-info {
			color: #08979c;
			background: #e6fffb;
			border-color: #87e8de;
		}

		&-danger {
			color: #c41d7f;
			background: #fff0f6;
			border-color: #ffadd2;
		}

		&-note {
			color: #531dab;
			background: #f9f0ff;
			border-color: #d3adf7;
		}
	}

	h5:not(:first-of-type)[id] {
		margin-top: 8rem;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: -4rem;
			left: 0;
			width: 100%;
			height: 1px;
			background: #e8e8e8;
		}
	}
}
